    .container {
        display: flex;
        flex-direction: column;
        min-height: 0vh; /* Занимаем всю высоту экрана */
        width: 100%; /* Устанавливаем ширину элемента равной 70% от ширины экрана */
        margin: auto; /* Выравниваем элемент по центру */
    }

    .messages {
        flex: 1; /* Занимаем всю доступную высоту */
        overflow-y: auto; /* Добавляем прокрутку, если сообщений становится слишком много */
        padding: 20px;
        display: flex;
        flex-direction: column; /* Вывод сообщений снизу вверх */
        margin-bottom: 10vh; /* Добавляем отступ снизу */
    }

    .image-container {
        position: fixed;
        z-index: 10;
    }

    .image-container img {
        width: 17vw; /* Задайте фиксированную ширину изображения */
        height: auto; /* Автоматически подстраивайте высоту */
    }

    .message {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex; /* Добавлено */
        justify-content: flex-end; /* Добавлено */
        position: relative;
        flex-direction: column;

<!--        padding-bottom: 5%; /* Добавляем отступ снизу для текста сообщения */-->

    }

    .even {
        justify-content: flex-start; /* Добавлено */
        background-color: #87CEFA;
    }



    .message .image-container {
        margin-left: 10px; /* Добавлено */
        margin-right: 10px; /* Добавлено */
    }

    .message.even {
        background-color: #44eeeb;
        text-align: left;
        margin-right: auto;
        margin-left: 0;
    }
    .message {
        background-color: #f1f1f1;
        text-align: right;
        margin-left: auto;
        margin-right: 0;
    }

    .message-form {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed; /* Фиксируем элемент относительно окна браузера */
        bottom: 3vh; /* Устанавливаем расстояние от нижней границы экрана равное 3% от его высоты */
        left: 15%; /* Устанавливаем левую границу элемента на 15% от левого края экрана */
        right: 15%; /* Устанавливаем правую границу элемента на 15% от правого края экрана */
        width: auto; /* Устанавливаем ширину элемента автоматически */
    }



    input[type="text"] {
        flex: 1; /* Занимаем доступное пространство */
        padding: 10px;
        border-radius: 20px;
        border: none;
        margin-right: 10px;
        height: 50px; /* Увеличиваем высоту текстового поля */
    }

    .button {
        position: relative;
        width: 120px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;

        transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        }


        .button:hover {
      transition-duration: 0.1s;
      background-color: #3A3A3A;
    }

    .button:after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 4em;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s;
      box-shadow: 0 0 10px 40px #80fffd;
    }

    .button:active:after {
      box-shadow: #80fffd;
      position: absolute;
      border-radius: 4em;
      left: 0;
      top:0;
      opacity: 1;
      transition: 0s;
    }

    .button:active {
      top: 1px;
    }


    .sound-button {
    align-self: flex-start; /* Выравнивание кнопки по левому краю */
    order: 2; /* Помещение кнопки под текстом сообщения */
<!--        position: absolute;-->
<!--        bottom: 0;-->
<!--        left: 0;-->
<!--        margin-top: 10px; /* Добавляем отступ сверху для кнопки */-->

    }


    .sprite-container {
        height: 100vh;
        display: flex;
        align-items: center;
    }


    @keyframes play {
        100% {
            background-position: -1135px;
        }
    }

    @keyframes step {
        100% {
            left: 100%;
        }
    }
