{% extends "index.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сказкоплет</title>
    {#
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    #}
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/headers.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">



    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    {#
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    #}
    <style>



    </style>
</head>
<body>

<div class="container">
    <h2 class="page-header text-center custom-font" style="color: #3f0fc2;">
        <i class="fas fa-image"></i>Сказкоплет♥️
    </h2>

    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static',filename='img/image3.png') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static',filename='img/image6.png') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static',filename='img/image10.png') }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static',filename='img/image4.png') }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="about-container">
        <div class="about-block about-block-1">
            <h3>Добро пожаловать!</h3>
             <p>Тут вы сможете создать свои сказки и проиллюстрировать их вместе с искусственным интелектом</p>
        </div>
        <div class="about-block about-block-2">
            <h3>Для кого?</h3>
            <p> Если у вас есть хотябы чуть-чуть фантазии, желание творить и наслаждаться инновационным и современном творчством</p>
        </div>
        <div class="about-block about-block-3">
            <h3>Присоединяйтесь к нам</h3>
            <p>Наша миссия - вдохновлять и радовать наших читателей, дарить им моменты радости и волшебства. Присоединяйтесь к нам, и пусть сказка живет в каждом из нас!</p>
        </div>
    </div>
<div class="container-footer w-container">
        <div class="w-row">
            <div class="footer-column w-clearfix w-col w-col-2">
                <div class="w-row">
                    <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
                        <h3 class="footer-titles">Есть предложения?</h3>
                        <p class="footer-description-failory">
                            <a>пишите на</a></span></a><span><br></span><a href=""><span>
                            <a href="mailto:skazkoplet@mail.ru">skazkoplet@gmail.ru</a><br>
<span class="footer-link"><a>телефон горячей линии</a></span></a><span><br></span><a href=""><span>
                                <a>+79379995011</a></span></a><span><br></span><a href=""><span>
                        </p>
                    </div>
                    <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
                        <h3 class="footer-titles">Следите за нами</h3><a href="" target="_blank"
                        class="footer-social-network-icons w-inline-block"></a><a
                        href="" target="_blank" class="footer-social-network-icons w-inline-block"><img
                        src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0002f2b676eb4ba0869_LinkedIn%20Icon.svg"
                        width="20" alt="LinkedIn Icon"></a><a href="https://ru.pinterest.com/sofiilasova0057/?invite_code=82fcf0d2b8c4418093524f54d7303b32&sender=1097048927888432056" target="_blank"
                        class="footer-social-network-icons w-inline-block"><img
                        src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0112f2b6739c9ba0871_Pinterest%20Icon.svg"
                        width="20" alt="Pinterest Icon" class=""></a>
                        <h3 class="footer-titles">поддержать проект:</h3><a href="" target="_blank"></a>
                        <a>+79379995011</a></span></a><span><br></span><a href=""><span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
{% endblock %}