{% extends "index.html" %}
<!-- ЭТО КОД, ОТВЕЧАЮЩИЙ ЗА КРАСОТУ ДИАЛОГА -->
{% block content %}
<style>
    /* Стилизация скроллбара */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    body {
        height: 100vh;
        margin: 0;
        background: #fff;
        overflow-y: auto; /* Включаем скроллбар на всей странице */
        overflow-x: hidden;
    }
    .author {
        position: relative;
        background-color: #BDECB6;
        padding: 10px;
        border-radius: 5px;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        max-width: 80%; /* Добавьте это */
        left: 55%; /* Измените это */
        top: 2%; /* Измените это */
        display: inline-block;

    }

    .title {
        position: relative;
        background-color: #ffcc99;
        padding: 10px;
        border-radius: 5px;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        max-width: 80%; /* Добавьте это */
        left: 50%; /* Измените это */
        top: 3%; /* Измените это */
        transform: translateX(-50%);
        display: inline-block;

    }


        }
        .text {
            background-color: black;
            margin-top: 2%; /* Увеличьте это значение до высоты шапки */
            margin-left: 0%; /* Добавлено для отступа от границ экрана */
            margin-right: 0%; /* Добавлено для отступа от границ экрана */
            font-size: 1.3em;
            flex: 1;


        }
        .container{
            margin: 0%
            }

        .cust-img {
        width: 100%; /* Устанавливаем ширину на 100% */
        height: auto; /* Высота автоматически меняется, чтобы сохранить соотношение сторон */
        border-radius: 10px;
            }
    }
    }

      .text-container {
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;
            position: relative;
        }

</style>
<body>
<div class="title">{{title}}</div>
<div class="author">{{username}}</div>
<div>
<div class="text-container">
    <img class="cust-img" src="../static/mes_images/{{picture}}" alt="Включите воображение ... ">
    <div class="text">{{text}}</div>
</div>
</body>
{% endblock %}
