{% extends "index.html" %}
<!-- ЭТО КОД, ОТВЕЧАЮЩИЙ ЗА КРАСОТУ ДИАЛОГА -->
{% block content %}
<style>
    .custom-link {
        color: #e4ecfc;
        text-decoration: none;
        background-color: #454545;
        padding: 10px;
        border-radius: 50px;
        transition: transform 0.3s, background-color 0.3s;
        font-size: 25px; /* Увеличен размер шрифта */
    }

    .custom-link:hover {
        color: #e4ecfc;
        background-color: #9c7ab8;
        transform: scale(1.1);

    }

    .link-container {
        margin-bottom: 32px; /* Увеличено расстояние между ссылками */
        display: flex; /* Используйте flex для расположения элементов в ряд */
    }

    .image-container {
        position: fixed;
        bottom: 0;
        left: 800px;
        z-index: -1; /* Разместить изображение под другими элементами */
        opacity: 1; /* Полупрозрачность изображения */
        margin: 20px; /* Добавляем отступы, чтобы не было прилипаний к краям экрана */
    }

    .image-container img {
        max-width: 400px; /* Задайте подходящий размер изображения */
        height: auto;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .edit-button {
        margin-left: 20px; /* Добавьте отступ справа от кнопки */
        cursor: pointer;
        padding: 10px; /* Добавьте padding для увеличения размера кнопки */
        border: none; /* Удалите стандартную рамку кнопки */
        background-color: #9c7ab8; /* Добавьте цвет фона */
        color: white; /* Измените цвет текста */
    }

</style>

<div class="container">
    <div class="messages" id="messages">
        <!-- Выводим сообщения в нормальном порядке -->
        {% for i, j in tales %}
        <div class="link-container">
            <a class="custom-link" href="/tale/{{ i }}">{{ j }}</a>
            <button class="edit-button" onclick="editFunction('{{ i }}')">Изменить</button>
        </div>
        {% endfor %}
    </div>
</div>

<div class="image-container">
    <img src="{{ url_for('static', filename='img/robi.png') }}" alt="Image">
</div>


<script>
    function editFunction(id) {
        // Находим ссылку по id
        var link = document.querySelector('.custom-link[href="/tale/' + id + '"]');

        // Создаем текстовое поле с текущим текстом ссылки
        var input = document.createElement('input');
        input.value = link.textContent;
        link.parentNode.replaceChild(input, link);
        input.focus();
        input.select();
        input.addEventListener('blur', function(event) {
            var newLink = document.createElement('a');
            newLink.href = link.href;
            newLink.textContent = input.value;
            newLink.className = 'custom-link';
            input.parentNode.replaceChild(newLink, input);
            fetch('/tales', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    id: id,
                    newText: input.value
                })
            });
            event.preventDefault();

        });
    }
</script>
{% endblock %}
