{% extends "index.html" %}
<!--ЭТО KОД, ОТВЕЧАЮЩИЙ ЗА КРАСОТУ ДИАЛОГА-->
{% block content %}
<meta charset="UTF-8">
<style>
    .container {
        display: flex;
        flex-direction: column;
        min-height: 0vh; /* Занимаем всю высоту экрана */
    }

    .messages {
        flex: 1; /* Занимаем всю доступную высоту */
        overflow-y: auto; /* Добавляем прокрутку, если сообщений становится слишком много */
        padding: 20px;
        display: flex;
        flex-direction: column; /* Вывод сообщений снизу вверх */
        margin-bottom: 10vh; /* Добавляем отступ снизу */
    }

    .message {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        display: flex; /* Добавлено */
        justify-content: flex-end; /* Добавлено */
    }

    .even {
        justify-content: flex-start; /* Добавлено */
    }



    .message .image-container {
        margin-left: 10px; /* Добавлено */
        margin-right: 10px; /* Добавлено */
    }

    .message:nth-child(even) {
        background-color: #87CEFA;
        text-align: lefy;
        margin-right: auto;
        margin-left: 0;
    }
    .message:nth-child(odd) {
        background-color: #f1f1f1;
        text-align: right;
        margin-left: auto;
        margin-right: 0;
    }

    .message-form {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed; /* Фиксируем элемент относительно окна браузера */
        bottom: 3vh; /* Устанавливаем расстояние от нижней границы экрана равное 3% от его высоты */
        left: 0; /* Устанавливаем левую границу элемента по левому краю экрана */
        right: 0; /* Устанавливаем правую границу элемента по правому краю экрана */
    }



    input[type="text"] {
        flex: 1; /* Занимаем доступное пространство */
        padding: 10px;
        border-radius: 20px;
        border: none;
        margin-right: 10px;
        height: 50px; /* Увеличиваем высоту текстового поля */
    }

    .styled {
        width: 120px;
        padding: 10px;
        border-radius: 20px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }


</style>
<!--наше сообщение, те картинка + сообщене + голос(скоро)-->
<div class="container">
    <div class="messages" id="messages">
        <!-- Выводим сообщения в нормальном порядке -->
        <!-- Выводим сообщения в нормальном порядке -->

        {% for i in story_content %}
        <div class="message {% if loop.index is even %} even {% endif %}">
            {{ i }}
            {% if loop.index is even %}
            <div class="image-container">
                <img src="static/img/image{{ loop.index }}.png" align="bottom">
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>


<form class="message-form" method="post" onsubmit="scrollToBottom()">
    <input type="text" id="story" name="story" placeholder="Введите сообщение...">
    <button class="styled" type="submit">Отправить</button>
</form>
</div>
<script>


    function scrollToBottom() {
        var messages = document.getElementById('messages');
        messages.scrollTop = messages.scrollHeight;
    }
</script>

<script>
    window.onload = function() {
        window.scrollTo(0, document.body.scrollHeight);
    }
</script>


{% endblock %}